<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ENI-Encheres</display-name>
	 <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jsp/includes/taglibs.jsp</include-prelude>
            <include-coda>/WEB-INF/jsp/includes/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.map</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.png</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <error-page>
	<error-code>500</error-code>
		<location>/WEB-INF/jsp/pages/500.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>50</session-timeout>
	</session-config>
</web-app>