footer {
	width: 100%;
	background: #004a83;
	padding: 1em 0;
	color: #fff;
}

footer h2 {
	text-align: center;
	font-size:1em;
}

footer p {
	text-align: center;
	padding: 0 2em;
	color: #9f9f9f;
}

footer p span {
	font-size: 1.2em;
	font-weight: bold;
	color: #b00000;
}