$purple: #d400d4;
// Breakpoint
$bp360 : 360px;
$bp480 : 480px;
$bp533 : 533px;
$bp640 : 640px;
$bp690 : 690px;
// 
$bp768 : 768px;
$bp800 : 800px;
$bp960 : 960px;
$bp1024 : 1024px;
// 
$bp1280 : 1280px;
$bp1360 : 1360px;
$bp1440 : 1440px;
$bp1600 : 1600px;
$bp1920 : 1920px;
