.pageError{
	width:100%;
	@include flex-mix($flow:column);
	& img{
		border-radius: 60%;
		margin-top: 1.5em;
		opacity:.6;
	}
	& p{
		width: 100%;
		margin-top: 1.5em;
		font-size: 1.5em;
		color:rgb(13, 3, 135);
		text-align: center;
	}
}